* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
  margin: 0;
}
body {
  font-family: monospace;
  transition: background-color 0.3s, color 0.3s;
}

/* Flex container for the entire page */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 2em;
}

/* Header styling */
header {
  text-align: center;
}
header hr {
  border: 0;
  height: 2px;
  background: #333;
  width: 80%;
  margin: 0 auto 1em; 
}
header h2 {
  display: inline;
  color: #555;
}

/* Main content area expands as needed */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer {
  display: flex;
  flex-wrap: wrap; /* Allows icons to move to the next line if needed */
  justify-content: center; /* Keeps them centered */
  align-items: center; /* Vertically aligns them */
  gap: 10px; /* Adds spacing between icons */
  text-align: center;
  padding: 1em 0;
}

/* Inline header elements */
.inline-header {
  display: inline;
  font-size: 1.1em;
  font-weight: bold;
  color: #555;
}

/* Paragraph spacing */
p {
  margin: 1.0em 0;
}

/* Dark mode styling */
.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

/* Remove link coloring and underlining */
a {
  color: inherit;
  text-decoration: none;
}

/* enlarge for mobile screens */
@media (max-width: 700px), (pointer: coarse) {
  header {
    font-size: 2em;
  }

  body {
    font-size: 1em;
  }
  
  img, .social-icon, .toggle-img {
    transform: scale(2);
  }

  footer {
    //flex-wrap: wrap;
    gap: 40px; /* More space between icons */
  }

  .content {
    transform: scale(2);
  }
}

