<footer>
   <p>
      FOOTER TEST
   </p>
  <div class="social-icons">
    <a href="https://www.tiktok.com/@empathycast" target="_blank">
      <img src="../../images/tiktok.png" alt="tiktok" class="social-icon">
    </a>
    <a href="https://www.instagram.com/empathycast" target="_blank">
      <img src="../../images/instagram.png" alt="instagram" class="social-icon">
    </a>
    <a href="https://www.youtube.com/channel/empathycast" target="_blank">
      <img src="../../images/youtube.png" alt="YouTube" class="social-icon">
    </a>
  </div>
  <div class="dark-mode-container">
    <a href="../../index.html">
      <img src="../../images/home.png" alt="home" class="home-icon">
    </a>
    <img src="../../images/dark.png" alt="Toggle Dark Mode" class="toggle-img" onclick="toggleDarkMode()">
  </div>
</footer>
